.bold-pink {
  color: $pink !important;
  font-weight: bolder !important;
}

.path-link a {
  color: $pink;
  font-style: italic;
}

.booking_card_container {
  margin: 70px;
}

.id_card_container {
  margin: 70px;
}

.card-cow-container {
  
}