.bold-pink {
  color: $pink !important;
  font-weight: bolder !important;
}

.path-link a {
  color: $pink;
  font-style: italic;
}

.card_container {
  margin: 32px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.booking_card_container {
  margin-left: 70px;
}

.id_card_container {
  margin-left: 120px;
}

.card-cow-container {
  
}