.bold-pink {
  color: $pink !important;
  font-weight: bolder !important;
}

.path-link a {
  color: $pink;
  font-style: italic;
}

.id_card_container {
  margin: 70px;
  width: 30vw;
}

#cow-details  {
  background-color: $white;
  padding: 20px;
  border-radius: 8px;
}

#booking-form {
  max-width: 500px;
  background-color: rgba(156, 156, 156, 0.616);
  border-radius: 8px;
  padding: 20px;
}