.devise-links {
  text-decoration: none;
  color: $pink;
}

.devise-links:hover {
  text-decoration: none;
  color: $pink;
  opacity: .6;
}

.login {
  color: $pink
}

.login:hover {
  color: $black !important;
}
